services:
  ton-node:
    container_name: ton-node
    image: ${TON_NODE_IMAGE}:${TON_NODE_VERSION}
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${BASE}/data:/var/ton-work

  ton-http-api:
    image: toncenter/ton-http-api:latest
    container_name: ton-http-api
    restart: unless-stopped
    depends_on:
      - ton-node
    ports:
      - "8081:8081"
    volumes:
      - /mnt/hdd/ton-work:/var/ton-work:ro
    environment:
      TON_LITESERVER_CONFIG: /var/ton-work/db/liteserver.config.json
      TON_HTTP_HOST: 0.0.0.0
      TON_HTTP_PORT: 8081