services:
  ton-node:
    image: mrskyenet/ton-node:latest
    container_name: ton-node
    restart: unless-stopped

    volumes:
      - /ton:/var/ton-work

    environment:
      MODE: "liteserver"          # -m liteserver
      NETWORK: "mainnet"          # -n mainnet
      DUMP: "true"                # -d (use dump)
      TELEMETRY: "false"          # -t (disable telemetry)
      IGNORE_REQS: "true"         # -i (skip 64GB RAM check)
      INSTALL_USER: "ton"         # -u ton (installer user)
      ARCHIVE_TTL: "2592000"      # 30 days
      STATE_TTL: "86400"          # 1 day

    ports:
      - "43635:43635/udp"
      - "43635:43635/tcp"