services:
  ton-node:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VERSION: ${TON_NODE_VERSION}
    image: mrskyenet/ton-node:${TON_NODE_VERSION}
    container_name: ton-node
    restart: unless-stopped

    volumes:
      - /ton:/var/ton-work

    environment:
      # These are no longer critical for the image at runtime, but you can keep them
      MODE: "liteserver"
      NETWORK: "mainnet"
      TELEMETRY: "false"
      IGNORE_REQS: "true"
      INSTALL_USER: "ton"
      ARCHIVE_TTL: "2592000"
      STATE_TTL: "86400"

    ports:
      # replace 50982 with whatever port is in config.json if it changes
      - "50982:50982/udp"
      - "50982:50982/tcp"