services:
  ton-node:
    image: mrskyenet/ton-node:${TON_VERSION:-latest}
    container_name: ton-node
    restart: unless-stopped
    volumes:
      - /mnt/hdd/ton-work:/var/ton-work
    ports:
      - "30303:30303/udp"

  ton-http-api:
    image: toncenter/ton-http-api:latest
    container_name: ton-http-api
    restart: unless-stopped
    depends_on:
      - ton-node
    ports:
      - "8081:8081"
    volumes:
      - /mnt/hdd/ton-work:/var/ton-work:ro
    environment:
      TON_LITESERVER_CONFIG: /var/ton-work/db/liteserver.config.json
      TON_HTTP_HOST: 0.0.0.0
      TON_HTTP_PORT: 8081