name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.HUB_USERNAME }}
          password: ${{ secrets.HUB_TOKEN }}
      - name: Build the Docker image
        run: |
          VERSION=$(cat VERSION)
          DOCKERHUB=$(cat DOCKERHUB)
          docker build . \
            --build-arg VERSION=$VERSION \
            --tag $DOCKERHUB:$VERSION \
            --tag $DOCKERHUB:latest

      - name: Push Docker image
        run: |
          VERSION=$(cat VERSION)
          DOCKERHUB=$(cat DOCKERHUB)
          docker push $DOCKERHUB:$VERSION
          docker push $DOCKERHUB:latest